{% extends 'SNCoreBundle::layout.html.twig' %}
{% block content %}
<h3> Blog </h3>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href=" {{ path('sn_blog_add') }}">Add</a>
    {% endif %}

    {% for post in posts %}
        <div class="post">
            <div class="blogSideBar">
                Created by {{ post.createdBy  }} <br/> {{ post.createdOn|date("F jS \\a\\t g:ia") }} <br/>
                        {% if post.updatedBy %}
                Updated by {{ post.updatedBy }} <br/> {{ post.updatedOn|date("F jS \\a\\t g:ia") }}
                        {%  endif %}
            </div>
            <div class="postContent">
                <h3>{{ post.title }}</h3>

                <p>{% if post.image.webPath is defined %}
                        <img class="blogImage"
                             src="{{ asset(post.image.webPath) }}"
                             alt="{{ post.image.alt }}"
                        />
                    {%  endif %}{{ post.content }}</p>
                <a href=" {{ post.link }}">{{ post.link }}</a>
            </div>
        </div>
    {% endfor %}
{%  endblock %}