{%  extends 'SNCoreBundle::layout.html.twig' %}
{% block content %}
    <div class="backGroup"><span class="backGroupTitle">Links</span>
        <span class="backItem"><a href="{{ path('sn_link_add') }}">Add</a></span>
        <span class="backItem"><a href="{{ path('sn_link_view') }}">Delete/Edit</a></span>
    </div>
    <div class="backGroup"><span class="backGroupTitle">Blog Posts</span>
        <span class="backItem"><a href="{{ path('sn_blog_add') }}">Add</a></span>
        <span class="backItem"><a href="{{ path('sn_blog_view') }}">Delete/Edit</a></span>
    </div>
    <div class="backGroup"><span class="backGroupTitle">Documents</span>
        <span class="backItem"><a href="{{ path('sn_document_add') }}">Add</a></span>
        <span class="backItem"><a href="{{ path('sn_document_view') }}">Delete/Edit</a></span>
    </div>
    <div class="backGroup"><span class="backGroupTitle">Document Categories</span>
        <span class="backItem"><a href="{{ path('sn_document_add_category') }}">Add</a></span>
        <span class="backItem"><a href="{{ path('sn_document_view_category') }}">Delete/Edit</a></span>
    </div>
    <div class="backGroup"><span class="backGroupTitle">Albums</span>
        <span class="backItem"><a href="{{ path('sn_album_add') }}">Add</a></span>
        <span class="backItem"><a href="{{ path('sn_album_view') }}">Delete/Edit</a></span>
    </div>
    <div class="backGroup"><span class="backGroupTitle">Sponsors</span>
        <span class="backItem"><a href="{{ path('sn_sponsor_add') }}">Add</a></span>
        <span class="backItem"><a href="{{ path('sn_sponsor_view') }}">Delete/Edit</a></span>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="backGroup"><span class="backGroupTitle">Users</span>
        <span class="backItem"><a href="{{ path('sn_user_view') }}">Manage Users</a></span>
    </div>
    {% endif %}
{% endblock %}