{% extends 'SNCoreBundle::layout.html.twig' %}

{% block content %}
    <div id="UserContainer">
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th colspan="3">Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
        {% for user in users %}
                <tr id="user_{{ user.id }}">
                    <td>{{  user.username }}</td>
                    <td> {{ user.email }}</td>
                    <td> <label for="SA{{ user.id }}" class="labelSuperAdmin">Super Admin</label>
                        <input class="radioRole" id="SA{{ user.id }}" type="radio" name="{{ user.id }}" value="ROLE_SUPER_ADMIN"></td>
                    <td> <label for="A{{ user.id }}" class="labelAdmin">Admin</label>
                     <input class="radioRole" id="A{{ user.id }}" type="radio" name="{{ user.id }}" value="ROLE_ADMIN"></td>
                    <td> <label for="U{{ user.id }}" class="labelUser">User</label>
                        <input class="radioRole" id="U{{ user.id }}" type="radio" name="{{ user.id }}" value="ROLE_USER"></td>
                    <td><a href=" {{ path('sn_user_delete', {'id' : user.id, }) }}">Delete</a></td>
                </tr>

        {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {

            function checkRoles(callback){
                var userNames = [];
                var userId = [];
                var userRoles = [];
                {% for user in users %}
                userNames.push("{{ user.username }}");
                userId.push("{{ user.Id }}");
                userRoles.push("{{ user.roles[0] }}")
                {% endfor %}

                console.log("names : "+userNames)
                console.log("Ids : "+userId)
                console.log("Roles : "+userRoles)

                for(var i =0; i<userId.length; i++){
                    console.log("loop : "+i);
                    callback(userId[i], [userRoles[i]])
                }

            }

            function selectRadioButtons(id, role){
                var mySelector = $("#user_"+id);
                if(role == "ROLE_SUPER_ADMIN"){
                    mySelector.find("#ROLE_SUPER_ADMIN").prop("checked",true);
                    mySelector.find(".labelSuperAdmin").addClass('activeRole');

                }
                else if(role == "ROLE_ADMIN"){
                    mySelector.find("#ROLE_ADMIN").prop("checked",true);
                    mySelector.find(".labelAdmin").addClass('activeRole');
                }
                else{
                    mySelector.find("#ROLE_USER").prop("checked",true);
                    mySelector.find(".labelUser").addClass('activeRole');
                }
            }

            checkRoles(selectRadioButtons);

            $(".radioRole").change(function (event) {
                var thisId = $(this).attr("name");
                var mySelector = $("#user_"+thisId);
                var thisRole = $(this).attr("value");
                mySelector.find("label").removeClass("activeRole");
                var childId = event.target.id;
                $("label[for='"+childId+"'").addClass("activeRole");


                $.post("{{ path('sn_user_changeRole') }}", {id:thisId, role:thisRole});
            })


        })
    </script>


    {%  endblock %}
