<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{%  block title %}Stichting Nepal - {% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'bundles/sncore/css/layout.css'
        'bundles/sncore/css/main.css'
        'bundles/sncore/css/nav.css'
        'bundles/sncore/css/bootstrap.css'
        'bundles/snuser/css/manageUsers.css'
        'bundles/snblog/css/blogPost.css'
        'bundles/snalbum/css/album.css'
        'bundles/snsponsor/css/sponsor.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Raleway|Ubuntu' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
        {% endstylesheets %}
    {%  endblock stylesheets %}
    {% block javascript %}
        <script
                src="https://code.jquery.com/jquery-2.2.3.min.js"
                integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
                crossorigin="anonymous"></script>
        {% javascripts
        'bundles/snuser/js/manageUsers.js'
        'bundles/sncore/js/modernizr-2.6.2.min.js'
        'bundles/sncore/js/nav.js'
        'bundles/sncore/js/polyfills.js'
        output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <span id="username" style="display: none">{{ app.user.username }}</span>
            <div class="roundButton" id="userProfileButton"><a href="{{ path('sn_user_profile') }}"><i class="fa fa-user"></i> </a></div>
            <div class="roundButton" id="userLogoutButton"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i></a></div>
        {% else %}
            <div class="roundButton" id="userLoginButton">
            <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i></a>
            </div>
        {% endif %}
    <div id="pageContainer">
        <div id="nav">
            {% embed "SNCoreBundle::nav.html.twig" %}
            {% endembed %}
        </div>
        <div class="fosContent">

        </div>

        <div id="content">
            {% block content %}
                {% block fos_content %}
                    {% block fos_user_content %}{% endblock %}
                {% endblock %}
            {% endblock %}
        </div>


    </div>
    <hr>
    <div id="sponsors">
        {{ render(controller('SNSponsorBundle:Default:sponsors')) }}
    </div>
    <hr>
    <footer>
        <span class="footerImg">
            {% image '@SNCoreBundle/Resources/public/images/footer_anbi.png' %}
            <img src="{{ asset_url }}" alt="anbi" />
            {% endimage %}
        </span>
        <span class="footerImg">
            {% image '@SNCoreBundle/Resources/public/images/footer_ganzen.png' %}
            <img src="{{ asset_url }}" alt="wilde ganzen" />
            {% endimage %}
        </span>
        <a href="http://www.cbf.nl">
        <span class="footerImg">
            {% image '@SNCoreBundle/Resources/public/images/footer_cbf.png' %}
            <img src="{{ asset_url }}" alt="cbf" />
            {% endimage %}
        </span>
        </a>
    </footer>



</body>

</html>